@import url('https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css');

* {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}
body {
  font-family: 'Prompt', sans-serif;
  color: #777;
  background-color: #ffffff;
  font-size: 14px;
  overflow-x: hidden;
}
a {
  color: #777;
}
a:hover {
  color: #f80;
  text-decoration: none;
}

/* color vars */

:root {
  --equivalence: #f80;
  --myequivalence: #f80;
  --theyequivalence: #fb9;
  --noequivalence: #baa;
  --trust: #fc0;
  --mytrust: #fc0;
  --theytrust: #fc9;
  --notrust: #bba;
  --care: #7d0;
  --mycare: #7d0;
  --theycare: #bd9;
  --nocare: #aba;
  --transparency: #0dd;
  --mytransparency: #9aa;
  --theytransparency: #add;
  --notransparency: #0dd;
  --freedom: #08d;
  --myfreedom: #08d;
  --theyfreedom: #7cf;
  --nofreedom: #99a;
  --understanding: #a7e;
  --myunderstanding: #a7e;
  --theyunderstanding: #baf;
  --nounderstanding: #a9a;
  --diversity: #f7d;
  --mydiversity: #f7d;
  --theydiversity: #ebe;
  --nodiversity: #bab;
}

/*h cooperation colors, h* have hover*/
.equivalence,
.hequivalence {
  color: var(--equivalence);
}
.bequivalence,
.bhequivalence {
  background-color: var(--equivalence);
}
.hequivalence:hover {
  color: var(--trust);
}
.bhequivalence:hover {
  background-color: var(--trust);
}
.trust,
.htrust {
  color: var(--trust);
}
.htrust:hover {
  color: var(--transparency);
}
.bhtrust:hover {
  background-color: var(--transparency);
}
.btrust,
.bhtrust {
  background-color: var(--trust);
}
.care,
.hcare {
  color: var(--care);
}
.bcare,
.bhcare {
  background-color: var(--care);
}
.hcare:hover {
  color: var(--diversity);
}
.bhcare:hover {
  background-color: var(--diversity);
}
.transparency,
.htransparency {
  color: var(--transparency);
}
.btransparency,
.bhtransparency {
  background-color: var(--transparency);
}
.htransparency:hover {
  color: var(--equivalence);
}
.bhtransparency:hover {
  background-color: var(--equivalence);
}
.freedom,
.hfreedom {
  color: var(--freedom);
}
.bfreedom,
.bhfreedom {
  background-color: var(--freedom);
}
.hfreedom:hover {
  color: var(--care);
}
.bhfreedom:hover {
  background-color: var(--care);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.bunderstanding,
.bhunderstanding {
  background-color: var(--understanding);
}
.hunderstanding:hover {
  color: var(--freedom);
}
.bhunderstanding:hover {
  background-color: var(--freedom);
}
.diversity,
.hdiversity {
  color: var(--diversity);
}
.bdiversity,
.bhdiversity {
  background-color: var(--diversity);
}
.hdiversity:hover {
  color: var(--understanding);
}
.bhdiversity:hover {
  background-color: var(--understanding);
}

.ae {
  text-decoration: none;
  background-image: linear-gradient(var(--equivalence) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.at {
  text-decoration: none;
  background-image: linear-gradient(var(--trust) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ac {
  text-decoration: none;
  background-image: linear-gradient(var(--care) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ai {
  text-decoration: none;
  background-image: linear-gradient(var(--transparency) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.af {
  text-decoration: none;
  background-image: linear-gradient(var(--freedom) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.au {
  text-decoration: none;
  background-image: linear-gradient(var(--understanding) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ad {
  text-decoration: none;
  background-image: linear-gradient(var(--diversity) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ae:hover {
  text-decoration: none;
  color: var(--equivalence);
  background-image: none;
}
.at:hover {
  text-decoration: none;
  color: var(--trust);
  background-image: none;
}
.ac:hover {
  text-decoration: none;
  color: var(--care);
  background-image: none;
}
.ai:hover {
  text-decoration: none;
  color: var(--transparency);
  background-image: none;
}
.af:hover {
  text-decoration: none;
  color: var(--freedom);
  background-image: none;
}
.au:hover {
  text-decoration: none;
  color: var(--understanding);
  background-image: none;
}
.ad:hover {
  text-decoration: none;
  color: var(--diversity);
  background-image: none;
}

/* text colors */

.bblack {
  background-color: #000000;
}
.gray {
  color: #555555;
}
.lightgray {
  color: #777;
}
.graylight {
  color: #cccccc;
}
.white,
.white:hover {
  color: #ffffff;
}
.bgray {
  background-color: #eeeeee;
}
.bwhite {
  background-color: #ffffff;
}

/* text dimensions and decorations */

.base {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 29px;
  font-weight: 200;
}
.quote {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 200;
}
.heading {
  font-size: 34px;
  font-weight: bold;
}
.subheading {
  font-size: 22px;
}
.space {
  letter-spacing: 2px;
}
.foot {
  border-top: 1px solid #cccccc;
}
.up {
  text-transform: uppercase;
}
.sweetround {
  border-radius: 20px;
}
.noborders {
  border-width: 0px;
}
.noshadows {
  box-shadow: 0px 0px;
}
.roundmodule {
  border-radius: 90px;
}
.t16 {
  font-size: 16px;
  font-weight: 200;
}
.t14 {
  font-size: 14px;
  font-weight: 200;
}
.t12 {
  font-size: 12px;
  font-weight: 200;
}
.t11 {
  font-size: 11px;
  font-weight: 200;
}
.t10 {
  font-size: 10px;
  font-weight: 200;
}
.t8 {
  font-size: 8px;
  font-weight: 200;
}
.finger {
  cursor: pointer;
}
.it {
  font-style: italic;
}
.bb {
  font-weight: bold;
}
.noline {
  text-decoration: none !important;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* navbar */
.nav-container {
  opacity: 1;
  z-index: 5;
  width: 100%;
  position: fixed;
  background-color: white;
}
.navbar {
  border-bottom: 1px #d3e0e9 solid;
}
.img-logo {
  z-index: 6;
  cursor: pointer;
}
.nav-item {
  margin: 0 10px;
}
.social-icons img {
  width: 17px;
  height: 17px;
  transition-duration: 0.3s;
}

#linkedin:hover {
  filter: invert(100%) url('../assets/icons/linkedin.svg#transparency-filter');
}
#facebook:hover {
  filter: invert(100%) url('../assets/icons/facebook.svg#freedom-filter');
}
#youtube:hover {
  filter: invert(90%) url('../assets/icons/youtube.svg#youtube-filter');
}
.burger-btn img {
  height: 30px;
}
#login-btn {
  border-bottom: 0.8px solid #666666;
}
.navbar-links {
  margin-top: 0.2rem;
}
.menu-item {
  font-size: 11px;
  margin: 0px 5px;
  cursor: pointer;
}
.nav-item,
.nav {
  cursor: pointer;
  display: inline;
  position: relative;
  font-weight: 400;
}
.nav-item:after {
  content: '';
  height: 2px;
  width: 14px;
  border-radius: 40%;
  display: none;
  position: absolute;
  left: calc(50% - 7px);
  bottom: 0;
}
.project-active:after,
.science-active:after,
.corporate-active:after {
  display: inline-block;
}
.img-project {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.single-project {
  border: 1px solid var(--freedom);
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  height: fit-content;
}
.single-project a:hover {
  color: #777;
}
.single-project:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.single-project > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid black;
}
.project-content b {
  font-size: 20px;
  color: black;
}
.progress-zero {
  color: var(--freedom);
  padding-left: 2px;
}
.project-details div {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
.project-details b,
.project-details small {
  font-size: 12px;
}
.project-details b {
  font-weight: 700;
}
.project-details small {
  font-weight: light;
}

.mobile-nav-box {
  padding: 0.5rem 0;
  border-bottom: 1px solid #dee2e6 !important;
}
.mobile-nav-items {
  margin-bottom: 0.25rem;
}

.fixed {
  position: fixed;
  z-index: 9999;
}
.navbar-brand {
  width: 5%;
}
.main {
  margin-top: 12vh;
}
@media (max-width: 576px) {
  .main {
    margin-top: 10vh;
  }
}
.headerlogo {
  height: 60px;
}
.imglogo {
  max-width: 100%;
}
.userlogo {
  height: 50px;
  width: 50px;
  margin-top: 5%;
}
/* Navbar colors */
#project .menu-item:hover,
.fa-discord:hover {
  color: var(--equivalence);
}
.project-active:after {
  background-color: var(--equivalence);
}
#corporate .menu-item:hover,
.fa-facebook:hover {
  color: var(--freedom);
}
.corporate-active:after {
  background-color: var(--freedom);
}
#science .menu-item:hover,
.fa-linkedin:hover {
  color: var(--understanding);
}
.science-active:after {
  background-color: var(--understanding);
}

/* Navbar media queries */
@media (max-width: 992px) {
  .nav-menu-container,
  .right-container {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .burger-btn,
  .mobile-dropdown {
    display: none;
  }
}

/* other */
@media (max-width: 576px) {
  img.page-header {
    height: 30vh;
    object-fit: cover;
  }
}
.circle {
  margin: 0 auto;
  height: 60vh;
  position: relative;
  margin-top: 3vh;
}
.baset {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px;
  line-height: 20px;
  font-weight: 200;
  border: 1px solid;
}

hr.home-hr {
  border: none;
  background-color: #666666;
  width: 50px;
  height: 2px !important;
}

.alt-login {
  visibility: hidden;
  margin-left: -35px;
}
.project-votebar {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.comments-and-nav-votebar {
}

.project-votebar .single-vote-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 0.13rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  padding: 0.35rem;
  cursor: pointer;
}
.project-votebar .single-vote-button small {
  font-weight: 500;
}
.votebar-modal-btn {
  cursor: pointer;
}
#votes-modal {
  width: 100vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#votes-modal .modal-dialog {
  max-width: 80%;
}
#votes-modal img {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.votebar-modal-btn {
  position: absolute;
  bottom: 4px;
  right: 7px;
  font-weight: 700;
  color: black;
}
@media (max-width: 768px) {
  .project-votebar .single-vote-button {
    margin: 0.15rem;
  }
}
/* votebar colors */
.project-votebar .single-vote-button#equivalence:hover {
  box-shadow: 0px 1px 1px var(--equivalence);
}
.project-votebar .single-vote-button#care:hover {
  box-shadow: 0px 1px 1px var(--care);
}
.project-votebar .single-vote-button#transparency:hover {
  box-shadow: 0px 1px 1px var(--transparency);
}
.project-votebar .single-vote-button#freedom:hover {
  box-shadow: 0px 1px 1px var(--freedom);
}
.project-votebar .single-vote-button#diversity:hover {
  box-shadow: 0px 1px 1px var(--diversity);
}
.project-votebar .single-vote-button#trust:hover {
  box-shadow: 0px 1px 1px var(--trust);
}
.project-votebar .single-vote-button#understanding:hover {
  box-shadow: 0px 1px 1px var(--understanding);
}

.vote-spacer {
  width: 10px;
  text-align: left;
}
.label-default {
  background-color: #ffffff !important;
  color: #777 !important;
}
.comment-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.usercomment {
  height: 40px;
  width: 40px;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.page-header {
  margin-top: 0px;
  margin-bottom: 60px;
  width: 90vw;
  height: auto;
  vertical-align: top;
  border: none;
}

img.page-header img.news {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  vertical-align: bottom;
  border: none;
}
.currentImage {
  width: 60px;
}
.vote {
  height: 5px;
  cursor: pointer;
}
.vote:hover .showme {
  display: block;
  font-weight: 400;
}
.uservote {
  height: 2px;
}
.uservote:hover .showme {
  display: block;
  font-weight: 400;
}
.showme {
  display: none;
}

.toasts {
  background-color: var(--care) !important;
  color: #fff !important;
}
img.about {
  width: 100%;
}
