@import url('https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
* {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}
body {
  color: #777;
  background-color: #ffffff;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
a {
  color: #777;
}
a:hover {
  color: #f80;
  text-decoration: none;
}

/* navbar */
.nav-container {
  z-index: 5;
  width: 100%;
  position: fixed;
  background-color: white;
  height: auto;
}
.z-0 {
  z-index: 0;
}
.fixer {
  height: 60px !important;
}
.navbar {
  border-bottom: 1px #d3e0e9 solid;
}
.img-logo {
  z-index: 6;
  cursor: pointer;
  max-height: 70px;
}
.nav-item {
  margin: 0 10px;
}
.social-icons img {
  width: 17px;
  height: 17px;
  transition-duration: 0.3s;
}

#linkedin:hover {
  filter: invert(100%) url('../assets/icons/linkedin.svg#transparency-filter');
}
#facebook:hover {
  filter: invert(100%) url('../assets/icons/facebook.svg#freedom-filter');
}
#youtube:hover {
  filter: invert(90%) url('../assets/icons/youtube.svg#youtube-filter');
}
.burger-btn img {
  height: 30px;
}
#login-btn {
  border-bottom: 0.8px solid #666666;
}
.navbar-links {
  margin-top: 0.2rem;
}
.menu-item {
  font-size: 11px;
  margin: 0px 5px;
  cursor: pointer;
}
.nav-item,
.nav {
  cursor: pointer;
  display: inline;
  position: relative;
}
.nav-item:after {
  content: '';
  height: 2px;
  width: 14px;
  border-radius: 40%;
  display: none;
  position: absolute;
  left: calc(50% - 7px);
  bottom: 0;
}
.project-active:after,
.science-active:after,
.corporate-active:after {
  display: inline-block;
}
.projectbox {
  border: 1px solid #777;
  border-radius: 20px;
}
.progress-zero {
  color: #777;
  padding-left: 2px;
}
.img-100 {
  width: 100%;
}
.mobile-nav-box {
  padding: 0.5rem 0;
  border-bottom: 1px solid #dee2e6 !important;
}
.mobile-menu-items {
  margin-bottom: 0.25rem;
}

.fixed {
  position: fixed;
  z-index: 9999;
}
.navbar-brand {
  width: 5%;
}
.main {
  padding-top: 90px;
}

.headerlogo {
  height: 60px;
}
.imglogo {
  max-width: 100%;
}
.userlogo {
  height: 50px;
  width: 50px;
  margin-top: 5%;
}

/* other */

.circle {
  margin: 0 auto;
  height: 60vh;
  position: relative;
}
.baset {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px;
  line-height: 20px;
  font-weight: 300;
  border: 1px solid;
}

hr.home-hr {
  border: none;
  background-color: #666666;
  width: 50px;
  height: 2px !important;
}

.alt-login {
  visibility: hidden;
  margin-left: -35px;
}
.vote-spacer {
  width: 10px;
  text-align: left;
}
.label-default {
  background-color: #ffffff !important;
  color: #777 !important;
}
.comment-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.usercomment {
  height: 40px;
  width: 40px;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.page-header {
  margin-top: 0px;
  margin-bottom: 60px;
  height: auto;
  vertical-align: top;
  border: none;
  width: 75%;
}

img.page-header img.news {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  vertical-align: bottom;
  border: none;
}
img.news {
  max-width: 70%;
}
.currentImage {
  width: 60px;
}
.vote {
  height: 10px;
  position: static;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 3px;
}
.vote:hover .showme {
  display: block;
  font-weight: 400;
}
.rainbowcode {
  height: 2px;
}
.rainbowcode:hover .showme {
  display: block;
  font-weight: 400;
  font-size: 10px;
}
.showme,
.showmeon {
  display: none;
}
.showmeon {
  position: absolute;
  left: 5px;
  top: 7px;
}

.toast {
  background-color: var(--care) !important;
  color: #fff !important;
}
.toastunderstanding {
  background-color: var(--understanding) !important;
  color: #fff !important;
}
img.about {
  width: 100%;
}
video {
  max-width: 90vw;
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 50px;
  }
  img.page-header {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .project-votebar .single-vote-button {
    margin: 0.15rem;
  }
}
@media (max-width: 992px) and (orientation: landscape) {
  .img-logo {
    max-height: 40px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-top: 120px;
  }
}
@media (max-width: 576px) and (orientation: portrait) {
  .main {
    padding-top: 50px;
  }
}
/* Navbar media queries */
@media (max-width: 992px) {
  .nav-only-desktop {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .burger-btn,
  .mobile-dropdown {
    display: none;
  }
}

/* text dimensions and decorations */

.base {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 29px;
  font-weight: 300;
}
.quote {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 300;
}
.heading {
  font-size: 34px;
  font-weight: bold;
}
.subheading {
  font-size: 22px;
}
.space {
  letter-spacing: 2px;
}
.foot {
  border-top: 1px solid #cccccc;
}
.up {
  text-transform: uppercase;
}
.justify {
  text-align: justify;
}
.sweetround {
  border-radius: 20px;
}
.noborders {
  border-width: 0px;
}
.noshadows {
  box-shadow: 0px 0px;
}
.roundmodule {
  border-radius: 90px;
}
.t20 {
  font-size: 20px;
  font-weight: 300;
}
.t18 {
  font-size: 18px;
  font-weight: 300;
}
.t16 {
  font-size: 16px;
  font-weight: 300;
}
.t14 {
  font-size: 14px;
  font-weight: 300;
}
.t12 {
  font-size: 12px;
  font-weight: 300;
}
.t11 {
  font-size: 11px;
  font-weight: 300;
}
.t10 {
  font-size: 10px;
  font-weight: 300;
}
.t8 {
  font-size: 8px;
  font-weight: 300;
}
.finger {
  cursor: pointer;
}
.it {
  font-style: italic;
}
.b {
  font-weight: 700;
}
.noline {
  text-decoration: none !important;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/***********************************************************
            COLOR VARS 
***********************************************************/

:root {
  --equivalence: #f80;
  --onequivalence: #f80;
  --theyequivalence: #fb7;
  --offequivalence: #aaa;
  --trust: #fc0;
  --ontrust: #fc0;
  --theytrust: #fea;
  --offtrust: #aaa;
  --care: #7d0;
  --oncare: #7d0;
  --theycare: #cf9;
  --offcare: #aaa;
  --transparency: #0dd;
  --ontransparency: #aaa;
  --offtransparency: #0dd;
  --theytransparency: #0aa;
  --freedom: #08d;
  --onfreedom: #08d;
  --theyfreedom: #adf;
  --offfreedom: #aaa;
  --understanding: #a7e;
  --onunderstanding: #a7e;
  --theyunderstanding: #dcf;
  --offunderstanding: #aaa;
  --diversity: #f7d;
  --ondiversity: #f7d;
  --theydiversity: #fcf;
  --offdiversity: #aaa;
  --coogray: #777;
  --aaagray: #aaa;
}

/*cooperation colors, h* have hover*/
.equivalence,
.hequivalence {
  color: var(--equivalence);
}
.bequivalence,
.bhequivalence {
  background-color: var(--equivalence);
}
.hequivalence:hover {
  color: var(--trust);
}
.bhequivalence:hover {
  background-color: var(--trust);
}
.theyequivalence {
  background-color: var(--theyequivalence);
}
.trust,
.htrust {
  color: var(--trust);
}
.htrust:hover {
  color: var(--transparency);
}
.bhtrust:hover {
  background-color: var(--transparency);
}
.btrust,
.bhtrust {
  background-color: var(--trust);
}
.theytrust {
  background-color: var(--theytrust);
}
.care,
.hcare {
  color: var(--care);
}
.bcare,
.bhcare {
  background-color: var(--care);
}
.hcare:hover {
  color: var(--diversity);
}
.bhcare:hover {
  background-color: var(--diversity);
}
.theycare {
  background-color: var(--theycare);
}
.transparency,
.htransparency {
  color: var(--transparency);
}
.btransparency,
.bhtransparency {
  background-color: var(--transparency);
}
.htransparency:hover {
  color: var(--equivalence);
}
.bhtransparency:hover {
  background-color: var(--equivalence);
}
.theytransparency {
  background-color: var(--theytransparency);
}
.freedom,
.hfreedom {
  color: var(--freedom);
}
.bfreedom,
.bhfreedom {
  background-color: var(--freedom);
}
.hfreedom:hover {
  color: var(--care);
}
.bhfreedom:hover {
  background-color: var(--care);
}
.theyfreedom {
  background-color: var(--theyfreedom);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.bunderstanding,
.bhunderstanding {
  background-color: var(--understanding);
}
.hunderstanding:hover {
  color: var(--freedom);
}
.bhunderstanding:hover {
  background-color: var(--freedom);
}
.theyunderstanding {
  background-color: var(--theyunderstanding);
}
.diversity,
.hdiversity {
  color: var(--diversity);
}
.bdiversity,
.bhdiversity {
  background-color: var(--diversity);
}
.hdiversity:hover {
  color: var(--understanding);
}
.bhdiversity:hover {
  background-color: var(--understanding);
}
.theydiversity {
  background-color: var(--theydiversity);
}
.coogray {
  color: var(--coogray);
}
.aaagray {
  background-color: var(--aaagray);
}

.ae {
  text-decoration: none;
  background-image: linear-gradient(var(--equivalence) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.at {
  text-decoration: none;
  background-image: linear-gradient(var(--trust) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ac {
  text-decoration: none;
  background-image: linear-gradient(var(--care) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ai {
  text-decoration: none;
  background-image: linear-gradient(var(--transparency) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.af {
  text-decoration: none;
  background-image: linear-gradient(var(--freedom) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.au {
  text-decoration: none;
  background-image: linear-gradient(var(--understanding) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ad {
  text-decoration: none;
  background-image: linear-gradient(var(--diversity) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ae:hover {
  text-decoration: none;
  color: var(--equivalence);
  background-image: none;
}
.at:hover {
  text-decoration: none;
  color: var(--trust);
  background-image: none;
}
.ac:hover {
  text-decoration: none;
  color: var(--care);
  background-image: none;
}
.ai:hover {
  text-decoration: none;
  color: var(--transparency);
  background-image: none;
}
.af:hover {
  text-decoration: none;
  color: var(--freedom);
  background-image: none;
}
.au:hover {
  text-decoration: none;
  color: var(--understanding);
  background-image: none;
}
.ad:hover {
  text-decoration: none;
  color: var(--diversity);
  background-image: none;
}

/* text colors */

.bblack {
  background-color: #000000;
}
.gray {
  color: #555555;
}
.lightgray {
  color: #777;
}
.graylight {
  color: #cccccc;
}
.white,
.white:hover {
  color: #ffffff;
}
.bgray {
  background-color: #eeeeee;
}
.bwhite {
  background-color: #ffffff;
}
/* Navbar colors */
#project .menu-item:hover,
.fa-discord:hover {
  color: var(--equivalence);
}
.project-active:after {
  background-color: var(--equivalence);
}
#corporate .menu-item:hover,
.fa-facebook:hover {
  color: var(--freedom);
}
.corporate-active:after {
  background-color: var(--freedom);
}
#science .menu-item:hover,
.fa-linkedin:hover {
  color: var(--understanding);
}
.science-active:after {
  background-color: var(--understanding);
}
