@import url('https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=block');

:root {
  --equivalence: #f80;
--onequivalence: #f80;
--theyequivalence: #fb7;
--offequivalence: #aaa;
--trust: #fc0;
--ontrust: #fc0;
--theytrust: #fea;
--offtrust: #aaa;
--care: #7d0;
--oncare: #7d0;
--theycare: #cf9;
--offcare: #aaa;
--transparency: #0dd;
--ontransparency: #aaa;
--offtransparency: #0dd;
--theytransparency: #0aa;
--freedom: #08d;
--onfreedom: #08d;
--theyfreedom: #adf;
--offfreedom: #aaa;
--understanding: #a7e;
--onunderstanding: #a7e;
--theyunderstanding: #dcf;
--offunderstanding: #aaa;
--diversity: #f7d;
--ondiversity: #f7d;
--theydiversity: #fcf;
--offdiversity: #aaa;
--coogray: #777;
--aaagray: #aaa;
--graylight: #ccc;
--front: #000;
--back: #fff;
--font-family-sans-serif: 'Prompt', sans-serif;
--font-family-monospace: 'Prompt', sans-serif;
}

$equivalence: #f80;
$onequivalence: #f80;
$theyequivalence: #fb7;
$offequivalence: #aaa;
$trust: #fc0;
$ontrust: #fc0;
$theytrust: #fea;
$offtrust: #aaa;
$care: #7d0;
$oncare: #7d0;
$theycare: #cf9;
$offcare: #aaa;
$transparency: #0dd;
$ontransparency: #aaa;
$offtransparency: #0dd;
$theytransparency: #0aa;
$freedom: #08d;
$onfreedom: #08d;
$theyfreedom: #adf;
$offfreedom: #aaa;
$understanding: #a7e;
$onunderstanding: #a7e;
$theyunderstanding: #dcf;
$offunderstanding: #aaa;
$diversity: #f7d;
$ondiversity: #f7d;
$theydiversity: #fcf;
$offdiversity: #aaa;
$coogray: #777;
$aaagray: #aaa;
$graylight: #ccc;
$front: #000;
$back: #fff;
$frontdark: #fff;

/*@font-face {
  font-family: 'cooperacy';
  font-style: normal;
  src: url('./font/Questrial-Regular.woff') format('woff');
  font-display: block;
}*/

* {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  color: $front;
  overflow-wrap: break-word;
}

.base {
  text-align: justify;
  font-size: 24px;
  margin-bottom: 10px;
}

body {
  background-color: $back;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.dark-mode * {
  color: $frontdark;
  background-color: #000;
}
.dark-mode .svgtext {
  fill: $frontdark;
}
.dark-mode .fumetto {
  color: $frontdark;
  background-color: #000 !important;
}
.dark-mode .bianchetto {
  color: $frontdark;
  background-color: #000 !important;
}

.std{
  color: $front; 
}

a {
  color: $front;
}
a:hover {
  color: $equivalence;
  text-decoration: none;
}



/***********************************************************
            COLOR VARS 
***********************************************************/


/*cooperation colors, h* have hover*/

.ontransparency, .offdiversity, .offunderstanding, .offfreedom, .offcare, .offtrust, .offequivalence { background-color: $aaagray;}
.offtransparency {background-color: $offtransparency;}

.equivalence,
.hequivalence {
  color: $equivalence;
  fill: $equivalence;}
.bequivalence,
.bhequivalence,
.onequivalence {
  background-color: $equivalence;
}
.hequivalence:hover {
  color: $trust;
  fill: $trust;
}
.bhequivalence:hover {
  background-color: $trust;
}
.theyequivalence {
  background-color: $theyequivalence;
}
.trust,
.htrust {
  color: $trust;
  fill: $trust;
}
.htrust:hover {
  color: $transparency;
  fill: $transparency;
}
.bhtrust:hover {
  background-color: $transparency;
}
.btrust,
.bhtrust,
.ontrust {
  background-color: $trust;
}
.theytrust {
  background-color: $theytrust;
}
.care,
.hcare {
  color: $care;
  fill: $care;
}
.bcare,
.bhcare,
.oncare {
  background-color: $care;
}
.hcare:hover {
  color: $diversity;
  fill: $diversity;
}
.bhcare:hover {
  background-color: $diversity;
}
.theycare {
  background-color: $theycare;
}
.transparency,
.htransparency {
  color: $transparency;
  fill: $transparency;
}
.btransparency,
.bhtransparency {
  background-color: $transparency;
}
.htransparency:hover {
  color: $equivalence;
  fill: $equivalence;
}
.bhtransparency:hover {
  background-color: $equivalence;
}
.theytransparency {
  background-color: $theytransparency;
}
.freedom,
.hfreedom {
  color: $freedom;
  fill: $freedom;
}
.bfreedom,
.bhfreedom,
.onfreedom {
  background-color: $freedom;
}
.hfreedom:hover {
  color: $care;
  fill: $care;
}
.bhfreedom:hover {
  background-color: $care;
}
.theyfreedom {
  background-color: $theyfreedom;
}
.understanding,
.hunderstanding {
  color: $understanding;
  fill: $understanding;
}
.bunderstanding,
.bhunderstanding,
.onunderstanding {
  background-color: $understanding;
}
.hunderstanding:hover {
  color: $freedom;
  fill: $freedom;
}
.bhunderstanding:hover {
  background-color: $freedom;
}
.theyunderstanding {
  background-color: $theyunderstanding;
}
.diversity,
.hdiversity {
  color: $diversity;
  fill: $diversity;
}
.bdiversity,
.bhdiversity,
.ondiversity {
  background-color: $diversity;
}
.hdiversity:hover {
  color: $understanding;
  fill: $understanding;
}
.bhdiversity:hover {
  background-color: $understanding;
}
.theydiversity {
  background-color: $theydiversity;
}
.coogray {
  color: $coogray;
  fill: $coogray;
}
.aaagray{
  color: $aaagray;
  fill: $aaagray;
}
.baaagray {
  background-color: $aaagray;
}

.ae, .ae:hover {
  color: $equivalence;
}
.at, .at:hover {
  color: $trust;
}
.ac, .ac:hover {
  color: $care;
}
.ai, .ai:hover {
  color: $transparency;
}
.af, .af:hover {
  color: $freedom;
}
.au, .au:hover {
  color: $understanding;
}
.ad, .ad:hover {
  color: $diversity;
}

.gcooperationbox, .ecooperationbox,
.tcooperationbox, .ccooperationbox,
.icooperationbox, .fcooperationbox,
.ucooperationbox, .dcooperationbox {
  border-radius: 20px;
  border: 3px solid;
  background-color: $back;
}

.gcooperationbox {
  border-color: $graylight;
}
.ecooperationbox {
  border-color: $equivalence;
}
.tcooperationbox {
  border-color: $trust;
}
.ccooperationbox {
  border-color: $care;
}
.icooperationbox {
  border-color: $transparency;
}
.fcooperationbox {
  border-color: $freedom;
}
.ucooperationbox {
  border-color: $understanding;
}
.dcooperationbox {
  border-color: $diversity;
}


/* text colors */

.bblack {
  background-color: $front;
}
.gray {
  color: $coogray;
}
.graylight {
  color: $graylight;
}
.white,
.white:hover {
  color: $back;
  fill: $back;
}
.bwhite {
  background-color: $back;
}
/* Navbar colors */
#theproject .menu-item:hover {
  color: $equivalence;
}
.theproject-active:after {
  background-color: $equivalence;
}
#corporate .menu-item:hover {
  color: $freedom;
}
.corporate-active:after {
  background-color: $freedom;
}
#science .menu-item:hover {
  color: $understanding;
}
.science-active:after {
  background-color: $understanding;
}
.btransparent {
  background-color: transparent;
}
b-form-select .was-validated, .custom-select:valid, .custom-select.is-valid{
  background-color: transparent !important;
}

.o0{
  opacity: 0.0;
}
.o50{
  opacity: 0.50;
}
.o25{
  opacity: 0.25;
}
.o75{
  opacity: 0.75;
}
.stroke {
  text-shadow: 
  -1px -1px 0 #555,
  1px -1px 0 #555,
  -1px 1px 0 #555,
  1px 1px 0 #555;
}

/***********************************/
/***********************************/
/***********************************/


/* navbar */
.nav-container {
  background-color: white;
  height: auto;
}
.navbar {
  border-bottom: 1px $aaagray solid;
}
.logo {
  z-index: 6;
  cursor: pointer;
  max-height: 60px;
  font-size: 110px;
}
.lets{font-size: 50px; letter-spacing: 5.5px;}
.none{
  display: none;
}
.nav-item {
  margin: 0 10px;
}
.social-icons img {
  width: 17px;
  height: 17px;
  transition-duration: 0.3s;
}
.burger-btn img {
  height: 30px;
}
#login-btn {
  border-bottom: 0.8px solid $aaagray;
}
.navbar-links {
  margin-top: 0.2rem;
}
.menu-item {
  font-size: 11px;
  margin: 0px 5px;
  cursor: pointer;
}
.nav-item,
.nav {
  cursor: pointer;
  display: inline;
  position: relative;
}
.nav-item:after {
  content: '';
  height: 2px;
  width: 14px;
  border-radius: 40%;
  display: none;
  position: absolute;
  left: calc(50% - 7px);
  bottom: 0;
}
.theproject-active:after,
.science-active:after,
.corporate-active:after {
  display: inline-block;
}
.progress-zero {
  color: $coogray;
  padding-left: 2px;
}
.img-100 {
  width: 100%;
}
.mobile-nav-box {
  padding: 0.5rem 0;
  border-bottom: 1px solid $aaagray !important;
}
.mobile-menu-items {
  margin-bottom: 0.25rem;
}

.fixed {
  position: fixed;
  z-index: 50;
}
.navbar-brand {
  width: 5%;
}

/* other */

.circle {
  margin: 0 auto;
  height: 60vh;
  position: relative;
}
.baset {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px;
  line-height: 20px;
  border: 1px solid;
}

hr.home-hr {
  border: none;
  background-color: $coogray;
  width: 50px;
  height: 2px !important;
}

.alt-login {
  visibility: hidden;
  margin-left: -35px;
}
.vote-spacer {
  width: 10px;
  text-align: left;
}
.mvote {
  margin: 2px;
}
.label-default {
  background-color: $back !important;
}
.comment-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.usercommentimg {
  height: 40px;
  width: 40px;
}
.fumetto{
  background-color: #f7f7f7;
  border-radius: 10px;
}
.bianchetto{
  background-color: #fff;
  border-radius: 5px;
}
.pagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.page-header {
  margin-top: 0px;
  margin-bottom: 60px;
  height: auto;
  vertical-align: top;
  border: none;
  width: 75%;
}

img.page-header img.news {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  vertical-align: bottom;
  border: none;
}
img.news {
  max-width: 70%;
}
.currentImage {
  width: 60px;
}
.vote {
  height: 10px;
  position: static;
  cursor: pointer;
  border-radius: 3px;
}
.vote:hover {
  display: block;
  font-weight: 400;
}
.rainbowcode {
  height: 2px;
}
.rainbowcode:hover {
  display: block;
  font-weight: 400;
  font-size: 10px;
}

.toast {
  background-color: $care !important;
  color: $back !important;
}
.toastunderstanding {
  background-color: $understanding !important;
  color: $back !important;
}
img.about {
  width: 100%;
}
video {
  max-width: 90vw;
}


/* text dimensions + decorations */

.quote {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 24px;
}
.heading {
  font-size: 34px;
  font-weight: bold;
}
.subheading {
  font-size: 30px;
  font-weight: 400;
}
.space {
  letter-spacing: 2px;
}
.foot {
  border-top: 1px solid $aaagray;
  background-color: $back;
}
.langflag {
  height: 12px;
  margin-bottom: 3px;
}
.fixfoot {
  position: fixed;
  bottom: 0px;
}
.up {
  text-transform: uppercase;
}
.justify {
  text-align: justify;
}
.sweetround {
  border-radius: 20px;
}
.noborders {
  border-width: 0px;
}
.noshadows {
  box-shadow: 0px 0px;
}
.roundmodule {
  border-radius: 90px;
}

.finger {
  cursor: pointer;
}

.noline {
  text-decoration: none !important;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
/***********************************************************
            TEXT DIMENSIONS 
***********************************************************/
.t8 {
  font-size: 8px;
}
.t9 {
  font-size: 8px;
}
.t10 {
  font-size: 10px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 14px;
}
.t16 {
  font-size: 16px;
}
.t18 {
  font-size: 18px;
}
.t20 {
  font-size: 20px;
}
.t24 {
  font-size: 24px;
}
.t28 {
  font-size: 28px;
}
.t32 {
  font-size: 32px;
}
.t44 {
  font-size: 32px;
}
.hb{
  font-weight: 500;
}
.it {
  font-style: italic;
}
.b {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}
.newcommentbox{
  border: 1px solid $aaagray;
  border-radius: 5px;
  background-color: #fff;
  overflow-wrap: break-word;
}
.newcommentbtn{
  min-height: 31px;
}

/***********************************************************
            HOME ANIMATION
***********************************************************/

#coocircle {
  transform-origin: center center;
  -webkit-transform-origin: center center;
  animation: wheel 5s ease-out;
}
@keyframes wheel {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(1080deg);
  }
}
/* ACTIVADED AT THE END OF ROTATION */
.allin {
  animation: fade-in 4s cubic-bezier(0.14, 0.65, 0.25, 0.98) forwards;
  animation-delay: 2300ms;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* FADE IN AREA, ALSO ACTIVADED AT THE END OF ROTATION */
#homefade {
  animation: fadeino 2s forwards;
}
@keyframes fadeino {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.littlespinner {
  max-height: 10px;
}

/***********************************************************
            MEDIA QUERIES 
***********************************************************/

@media (max-width: 768px) {
  .page-container {
    padding-top: 50px;
  }
  img.page-header {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cooperation-votebar .single-vote-button {
    margin: 0.15rem;
  }
}
@media (max-width: 992px) and (orientation: landscape) {
  .logo {
    max-height: 40px;
  }
}
@media (min-width: 1200px) {
}
@media (max-width: 576px) and (orientation: portrait) {

}

/* Navbar media queries */
@media (max-width: 992px) {
  .nav-only-desktop {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .burger-btn,
  .mobile-dropdown {
    display: none;
  }
}

/***********************************************************
            Tribute-specific styles
***********************************************************/
.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 300px;
  max-width: 500px;
  overflow: auto;
  display: block;
  z-index: 999999;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(#000, 0.13);
}
.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(#000, 0.13);
  background-clip: padding-box;
  overflow: hidden;
}
.tribute-container li {
  color: #3f5efb;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.tribute-container li.highlight,
.tribute-container li:hover {
  background: #3f5efb;
  color: #fff;
}
.tribute-container li span {
  font-weight: bold;
}
.tribute-container li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}