@import url('https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}
body {
  font-family: 'Prompt', sans-serif;
  color: #777;
  background-color: #ffffff;
  font-size: 14px;
}
a {
  color: #777;
}
a:hover {
  color: #f80;
  text-decoration: none;
}

/* color vars */

:root {
  --equivalence: #f80;
  --myequivalence: #f80;
  --theyequivalence: #fb9;
  --noequivalence: #baa;
  --trust: #fc0;
  --mytrust: #fc0;
  --theytrust: #fc9;
  --notrust: #bba;
  --care: #7d0;
  --mycare: #7d0;
  --theycare: #bd9;
  --nocare: #aba;
  --transparency: #0dd;
  --mytransparency: #9aa;
  --theytransparency: #add;
  --notransparency: #0dd;
  --freedom: #08d;
  --myfreedom: #08d;
  --theyfreedom: #7cf;
  --nofreedom: #99a;
  --understanding: #a7e;
  --myunderstanding: #a7e;
  --theyunderstanding: #baf;
  --nounderstanding: #a9a;
  --diversity: #f7d;
  --mydiversity: #f7d;
  --theydiversity: #ebe;
  --nodiversity: #bab;
}

/*h cooperation colors, h* have hover*/
.equivalence,
.hequivalence {
  color: var(--equivalence);
}
.bequivalence,
.bhequivalence {
  background-color: var(--equivalence);
}
.hequivalence:hover {
  color: var(--trust);
}
.bhequivalence:hover {
  background-color: var(--trust);
}
.trust,
.htrust {
  color: var(--trust);
}
.htrust:hover {
  color: var(--transparency);
}
.bhtrust:hover {
  background-color: var(--transparency);
}
.btrust,
.bhtrust {
  background-color: var(--trust);
}
.care,
.hcare {
  color: var(--care);
}
.bcare,
.bhcare {
  background-color: var(--care);
}
.hcare:hover {
  color: var(--diversity);
}
.bhcare:hover {
  background-color: var(--diversity);
}
.transparency,
.htransparency {
  color: var(--transparency);
}
.btransparency,
.bhtransparency {
  background-color: var(--transparency);
}
.htransparency:hover {
  color: var(--equivalence);
}
.bhtransparency:hover {
  background-color: var(--equivalence);
}
.freedom,
.hfreedom {
  color: var(--freedom);
}
.bfreedom,
.bhfreedom {
  background-color: var(--freedom);
}
.hfreedom:hover {
  color: var(--care);
}
.bhfreedom:hover {
  background-color: var(--care);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.understanding,
.hunderstanding {
  color: var(--understanding);
}
.bunderstanding,
.bhunderstanding {
  background-color: var(--understanding);
}
.hunderstanding:hover {
  color: var(--freedom);
}
.bhunderstanding:hover {
  background-color: var(--freedom);
}
.diversity,
.hdiversity {
  color: var(--diversity);
}
.bdiversity,
.bhdiversity {
  background-color: var(--diversity);
}
.hdiversity:hover {
  color: var(--understanding);
}
.bhdiversity:hover {
  background-color: var(--understanding);
}

.ae {
  text-decoration: none;
  background-image: linear-gradient(var(--equivalence) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.at {
  text-decoration: none;
  background-image: linear-gradient(var(--trust) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ac {
  text-decoration: none;
  background-image: linear-gradient(var(--care) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ai {
  text-decoration: none;
  background-image: linear-gradient(var(--transparency) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.af {
  text-decoration: none;
  background-image: linear-gradient(var(--freedom) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.au {
  text-decoration: none;
  background-image: linear-gradient(var(--understanding) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ad {
  text-decoration: none;
  background-image: linear-gradient(var(--diversity) 50%, #ffffff 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.2em;
  background-position: 0 1.35em;
  color: #777777;
}
.ae:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--equivalence);
  background-image: none;
}
.at:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--trust);
  background-image: none;
}
.ac:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--care);
  background-image: none;
}
.ai:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--transparency);
  background-image: none;
}
.af:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--freedom);
  background-image: none;
}
.au:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--understanding);
  background-image: none;
}
.ad:hover {
  font-weight: 200;
  text-decoration: none;
  color: var(--diversity);
  background-image: none;
}

/* text colors */

.bblack {
  background-color: #000000;
}
.gray {
  color: #555555;
}
.lightgray {
  color: #777;
}
.graylight {
  color: #cccccc;
}
.white,
.white:hover {
  color: #ffffff;
}
.bgray {
  background-color: #eeeeee;
}
.bwhite {
  background-color: #ffffff;
}

/* text dimensions and decorations */

.base {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 29px;
  font-weight: 200;
}
.quote {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 200;
}
.heading {
  font-size: 34px;
  font-weight: bold;
}
.subheading {
  font-size: 22px;
}
.space {
  letter-spacing: 2px;
}
.foot {
  border-top: 1px solid #cccccc;
}
.up {
  text-transform: uppercase;
}
.sweetround {
  border-radius: 20px;
}
.noborders {
  border-width: 0px;
}
.noshadows {
  box-shadow: 0px 0px;
}
.roundmodule {
  border-radius: 90px;
}
.t16 {
  font-size: 16px;
  font-weight: 200;
}
.t14 {
  font-size: 14px;
  font-weight: 200;
}
.t12 {
  font-size: 12px;
  font-weight: 200;
}
.t11 {
  font-size: 11px;
  font-weight: 200;
}
.t10 {
  font-size: 10px;
  font-weight: 200;
}
.t8 {
  font-size: 8px;
  font-weight: 200;
}
.finger {
  cursor: pointer;
}
.it {
  font-style: italic;
}
.bb {
  font-weight: bold;
}
.noline {
  text-decoration: none !important;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* navbar */

.menux {
  background-image: none;
}

.upmenu {
  margin-top: 17px;
}

.submenu {
  margin-top: -12px;
  color: #777;
  position: absolute;
  font-size: 12px;
}

.fixed {
  position: fixed;
  z-index: 9999;
}
.navbar-brand {
  width: 5%;
}
.main {
  margin-top: 70px !important;
}
.headerlogo {
  height: 60px;
}
.imglogo {
  max-width: 100%;
}
.userlogo {
  height: 50px;
  width: 50px;
  margin-top: 5%;
}

/* other */

.circle {
  margin: 0 auto;
  height: 60vh;
  position: relative;
  margin-top: 3vh;
}
.baset {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px;
  line-height: 20px;
  font-weight: 200;
  border: 1px solid;
}

hr.home-hr {
  border: none;
  background-color: #666666;
  width: 50px;
  height: 2px !important;
}

.alt-login {
  visibility: hidden;
  margin-left: -35px;
}

.vote-spacer {
  width: 10px;
  text-align: left;
}
.label-default {
  background-color: #ffffff !important;
  color: #777 !important;
}
.comment-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.usercomment {
  height: 40px;
  width: 40px;
}
img.page-header {
  margin-top: 0px;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}
img.news {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  vertical-align: bottom;
  border: none;
}
.currentImage {
  width: 60px;
}
.vote {
  height: 5px;
  cursor: pointer;
}
.vote:hover .showme {
  display: block;
  font-weight: 400;
}
.uservote {
  height: 2px;
}
.uservote:hover .showme {
  display: block;
  font-weight: 400;
}
.showme {
  display: none;
}

.toasts {
  background-color: var(--care) !important;
  color: #fff !important;
}
